.page-footer {
  background-color: $dark-background;
  padding: 60px 0;
}

.page-footer__container {
  @extend .container;

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.page-footer__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
