.page-footer {
  background-color: $dark-background;
  padding: 60px 0;
}

.page-footer__container {
  @extend .container;

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.page-footer__content {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    align-items: baseline;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    justify-content: space-around;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    text-align: start;
    flex-grow: 1;
  }
}
