.section {
  padding: 60px 0;

  @media screen and (min-width: $desktop) {
    padding: $section-indent 0;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
